<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="c, clang, programming, coding, blog, articles">
    <meta name="description" content="C Programming Language">
    <title>The Answer Is C</title>
    <link rel="icon" type="image/x-icon" href="public/favicon.ico" />
    <link rel="stylesheet" href="public/css/master.css" />
    <link rel="stylesheet" href="public/css/highlight.css" />
  </head>
  <body>
    <header>
      <h1>The Answer Is C</h1>
      <h4>A blog by ${author}</h4>
    </header>
    <main>${content}</main>
  </body>
</html>
